div{
    border: 3px solid #D6001C;
    border-radius: 10px;
}

.rubrik{
    text-align: center;
}

.bakgrund {
    background-image: url(img/snow_winter_trees.jpg);
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin-bottom: 10px;
    height: 400px;
    text-align: center;
}

.bilder{
    width: 150px;
    border: 3px solid black;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.länkar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.mellan{
    display: flex;
    flex-direction: row;
}

.vänster{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    align-items: center;
}

.mitten{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}

.höger{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.julträd{
    width: 50px;
    height: 600px;
    margin: 10px;
}

.sidfot{
    text-align: center;
    margin-top: 5px;
}

.mountains-of-christmas-bold {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 50px;
   
  }
  

